@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply bg-white dark:bg-gray-800 dark:text-white w-full h-full m-0 p-0 overflow-auto
    }

    #root {
        @apply w-full max-w-full
    }
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    top: 20px
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.leftright {
    transform: translateY(15px) rotate(45deg);
}

.rightleft {
    transform: translateY(13px) rotate(-45deg);
}

.close-container:hover .leftright {
    transform: translateY(15px) rotate(-45deg);
    background-color: red;
}
.close-container:hover .rightleft {
    transform: translateY(13px) rotate(45deg);
    background-color: red;
}
.close-container:hover .close {
    opacity: 1;
}